{% extends 'base.html' %}

{% block content %}
    <section class="text-white py-4 py-xl-5">
        <div class="container">
            <div class="border shadow rounded-4 border-0 d-flex flex-column justify-content-center align-items-center p-4 py-5" style="background: linear-gradient(180deg, rgba(255, 0, 0, 0.15), rgba(255, 0, 0, 0.05));">
                <div class="row">
                    <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                        <div>
                            <h1 class="text-uppercase fw-bold mb-3">{{ form.title }}</h1>
                            {% if description is not Null %}
                            <p class="mb-4 h5">{{ form.description }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% for chart in charts.values %}
    <div class="d-flex align-center justify-content-center my-3 rounded-4 px-0 shadow container" style="background: linear-gradient(180deg, rgba(255, 0, 0, 0.15), rgba(255, 0, 0, 0.05));">
        {{ chart | safe }}
    </div>
    {% endfor %}
{% endblock %}
